body {
  margin: 0;
  font-family: basic-sans, sans-serif;
font-weight: 400;
font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


a {
  text-decoration: none;
  color:#fff;
}

p{
  font-family: ff-tisa-web-pro,serif;
  font-weight: 200;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #ffffff;
  margin:0;
}

.tech{
  color: #fff;
  padding: 2rem;
  font-size: 1.25rem;;
}

.overview, .challenges {
  padding: 0 6rem;
  text-align: justify;
  
}

.moreAbout{
  column-count: 2;
  column-gap: 4rem;
  column-rule: 1px solid rgb(54, 64, 77);

}

@media screen and (max-width: 768px){
  p{
    font-size: 1.25rem;
    padding: 0 2rem;
  }
  .moreAbout{
    column-count: 1;
  
  }
  
}